# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

# OS
.DS_Store

# Logs
logs/
*.log

# Data (не храним прод-данные в Git)
data/clinic.db
data/clinic.db-*
data/clinic.db-*.*
data/*.db
data/*.sqlite
data/*.sqlite3

# Экспортируемые файлы
data/exports/
*.xlsx

# Токены/пароли (на всякий случай)
tokens/
*.pass
*.tok